@(customers: List[Customer])(implicit session: Session)
@main("Customer List") {
 <h2>Customers</h2>
  <p></p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Customer Surname</th>
        <th>Customer Forename</th>
        <th>Customer ID</th>
        <th>Email</th>
        <th>Blacklist Strikes</th>
      </tr>
    </thead>
    <tbody>
      @for(customer <- customers) {
	      <tr>
	      	<td>
	      		<a href ="@controllers.routes.Customers.show(customer.user.idUser)">
	      			@customer.user.surname
				</a>
	      	</td>
	      	<td>
	      		<a href = "@controllers.routes.Customers.show(customer.user.idUser)">
	      			@customer.user.forename
	      		</a>
	      	</td>
	      	<td>@customer.user.idUser</td>
	      	<td>@customer.user.email</td>
	      	<td>@customer.blackListStrikes</td>
	      </tr>
	  }
    </tbody>
  </table>
  }