@(items: List[Item])(implicit session: Session)
@main("Item List") {
 <h2>Items</h2>
  <p></p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product ID</th>
        <th>Stock</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      @for(item <- items) {
	      <tr>
	      	<td>
	      		<a href ="@controllers.routes.Items.show(item.itemID)">
	      		@item.itemName
				</a>
	      	</td>
	      	<td>@item.itemID</td>
	      	<td>@item.itemStock</td>
	      	<td>£@Item.formatPrice(item.itemPrice)</td>
	      </tr>
	  }
    </tbody>
  </table>
  }